Web App/Time_Table/Web References/webServicePerson/firstWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BussinessObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BussinessObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpersonList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="personList" nillable="true" type="tns:personList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpersonList" nillable="true" type="tns:ArrayOfpersonList" />
  <xs:complexType name="personList">
    <xs:sequence>
      <xs:element minOccurs="0" name="By" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="givenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="personList" nillable="true" type="tns:personList" />
</xs:schema>